$main-font: 'DM Sans', sans-serif;
$secondary-font: 'Titan One', cursive;
$accent-color: #d41443;
$bg-color: #fff5f6;
$hero-bg-color: #ffb8ca;
$main-text-color: #ffffff;
$hover-button: #ecebeb;
$subtitle-color: #ffa5ba;
