@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

h1 {
  margin: 0;
}

.banner {
  width: 100%;
  margin-bottom: 123px;
}

@media screen and (max-width: 767px) {
  .container-for-all {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container-for-all {
    margin: 0 auto;
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media screen and (min-width: 1280px) {
  .container-for-all {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.page-header {
  position: absolute;
  z-index: 5000;
  top: 0;
  right: 0;
  left: 0;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-top: 37px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
    padding-left: 46px;
    padding-right: 46px;
  }
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 60px;
  fill: #d41443;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 291px;
  }
}
@media screen and (min-width: 1280px) {
  .logo {
    margin-right: 110px;
  }
}

.menu-btn {
  position: relative;
  z-index: 100;
  background-color: transparent;
  border: none;
  outline: none;
}
@media screen and (min-width: 1280px) {
  .menu-btn {
    display: none;
  }
}
.menu-btn.is-open .icon-close {
  display: block;
}
.menu-btn.is-open .icon-burger {
  display: none;
}

.icon-close {
  display: none;
}

.header-button {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    width: 160px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 22px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    cursor: pointer;
    color: #d41443;
    outline: none;
    transition: background-color 250ms linear;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .header-button {
    margin-left: 110px;
  }
}
@media screen and (min-width: 768px) {
  .header-button:hover, .header-button:focus {
    background-color: #ecebeb;
  }
}
.header-button .header-button__icon {
  margin-left: 12px;
}

@media screen and (max-width: 1279px) {
  .menu-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 502px;
    background-color: #e17992;
    padding-top: 60px;
    padding-bottom: 185px;
    padding-left: 20px;
    padding-right: 20px;
    transform: translateY(-100%);
    transition: transform 250ms linear;
  }
  .menu-wrapper.is-open {
    transform: translateY(0);
  }

  .navigation-list__item:not(:last-child) {
    margin-bottom: 23px;
  }
}
.navigation-button {
  width: 209px;
  height: 44px;
  margin-bottom: 32px;
  background: #ffffff;
  border: none;
  border-radius: 22px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  cursor: pointer;
  color: #d41443;
  outline: none;
  transition: background-color 250ms linear;
}
@media screen and (min-width: 1280px) {
  .navigation-button {
    display: none;
  }
}
.navigation-button:hover, .navigation-button:focus {
  background-color: #ecebeb;
}

.navigation-button__icon {
  margin-left: 16px;
}

@media screen and (min-width: 1280px) {
  .navigation-list {
    display: flex;
    align-items: center;
  }

  .navigation-list__item:not(:last-child) {
    margin-right: 35px;
  }
}
.navigation-list__item .link {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  color: #ffffff;
  transition: color 250ms linear;
}
.navigation-list__item .link:hover, .navigation-list__item .link:focus {
  color: #d41443;
}

.hero {
  background-color: #ffb8ca;
}
.hero .container {
  position: relative;
  margin: 0 auto;
  padding-top: 193px;
  padding-bottom: 160px;
  background-image: url(/ellipse.a6a30738.png);
  background-repeat: no-repeat;
  background-position: 36px 75px;
  background-size: 346px 344px;
}
@media screen and (min-width: 768px) {
  .hero .container {
    max-width: 768px;
    padding-top: 94px;
    padding-bottom: 0;
    background-position: 307px 31px;
    background-size: 324px 322px;
  }
}
@media screen and (min-width: 1280px) {
  .hero .container {
    max-width: 1280px;
    padding-top: 156px;
    padding-left: 77px;
    padding-right: 97px;
    background-position: 475px 52px;
    background-size: 538px 538px;
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero .conteiner {
    background-image: url(/ellipse@2x.d53b201c.png);
  }
}

.hero-title__block {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1280px) {
  .hero-title__block {
    margin-left: 38px;
  }
}

.hero-title {
  position: relative;
  z-index: 50;
  margin-bottom: 20px;
  font-family: "Titan One", cursive;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-title {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 38px;
    line-height: 1.16;
  }
}
.hero-title .imet {
  font-size: 48px;
  line-height: 96.5%;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .hero-title .imet {
    font-size: 34px;
    line-height: 90.5%;
  }
}
@media screen and (min-width: 1280px) {
  .hero-title .imet {
    font-size: 58px;
  }
}

.hero-button__list {
  display: flex;
}
@media screen and (min-width: 768px) {
  .hero-button__list {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-button__list {
    margin-left: 38px;
    margin-bottom: 56px;
  }
}
.hero-button__list .hero-button__list-item:not(:last-child) {
  margin-right: 10px;
}
@media screen and (min-width: 1280px) {
  .hero-button__list .hero-button__list-item:not(:last-child) {
    margin-right: 20px;
  }
}

.hero-button {
  position: relative;
  z-index: 50;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #d41443;
  border: none;
  border-radius: 20px;
  font-family: "DM Sans", sans-serif;
  font-size: 8px;
  line-height: 1.25px;
  color: #ffffff;
  cursor: pointer;
}
@media screen and (min-width: 1280px) {
  .hero-button {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 1.285;
  }
}

.hero-button__icon {
  background-color: #fff;
  color: #d41443;
  transition: background-color 250ms linear;
}
.hero-button__icon:hover, .hero-button__icon:focus {
  background-color: #ecebeb;
}

.hero-block__milk {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero-block__milk {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .hero-block__milk-img {
    width: 188px;
  }
}

.hero-block__milk-text {
  margin-bottom: 7px;
  width: 114px;
  height: 48px;
  font-family: "DM Sans", sans-serif;
  font-size: 8px;
  line-height: 150%;
  color: #ffffff;
}
@media screen and (min-width: 1280px) {
  .hero-block__milk-text {
    margin-bottom: 20px;
    width: 200px;
    height: 78px;
    font-size: 14px;
    line-height: 140%;
  }
}

.hero-block__milk-arrow {
  width: 18px;
  height: 18px;
  padding: 6px;
  border-radius: 50%;
  background-color: #fff;
  fill: #d41443;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .hero-block__milk-arrow {
    width: 26px;
    height: 26px;
  }
}

.hero-list {
  display: none;
}
.hero-list .hero-list__item {
  position: relative;
  padding-top: 2px;
  padding-right: 10px;
}
@media screen and (min-width: 1280px) {
  .hero-list .hero-list__item {
    padding-top: 4px;
    padding-right: 18px;
  }
}
.hero-list .hero-list__item:not(:last-child) {
  margin-bottom: 13px;
}
@media screen and (min-width: 1280px) {
  .hero-list .hero-list__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
.hero-list .hero-list__item::before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffffff;
}
@media screen and (min-width: 1280px) {
  .hero-list .hero-list__item::before {
    width: 30px;
    height: 30px;
  }
}
.hero-list .number {
  position: relative;
  z-index: 5;
  font-family: "Titan One", cursive;
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 1280px) {
  .hero-list .number {
    font-size: 46px;
    line-height: 1.15;
  }
}
.hero-list .places {
  font-family: "DM Sans", sans-serif;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: #ffffff;
}
@media screen and (min-width: 1280px) {
  .hero-list .places {
    font-size: 14px;
    line-height: 1.28;
  }
}
@media screen and (min-width: 768px) {
  .hero-list {
    display: block;
  }
}

.hero-block {
  display: flex;
  justify-content: space-between;
}

.hero-img__girl {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero-img__girl {
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .hero-img__girl {
    width: 293px;
  }
}

.hero-img__icecream {
  position: absolute;
  top: 115px;
  left: 117px;
  max-width: 171px;
}
@media screen and (min-width: 768px) {
  .hero-img__icecream {
    width: 143px;
    height: 336px;
    top: 44px;
    left: 378px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-img__icecream {
    width: 236px;
    height: 557px;
    top: 120px;
    left: 594px;
  }
}

.products-container {
  margin: 0 auto;
  text-align: center;
}

.products-subtitle {
  margin-bottom: 15px;
  font-family: "Titan One", cursive;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffa5ba;
}

.products-title {
  font-family: "Titan One", cursive;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.products-list-item {
  position: relative;
  border-radius: 24px;
}
.products-list-item.icecream {
  background-color: #ffb8ca;
}
.products-list-item.icecoffee {
  background-color: #f0d1a5;
}
.products-list-item.milkshakes {
  background-color: #c2e297;
}
.products-list-item .products-subtitle {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.products-list-item-img {
  position: absolute;
  display: block;
  max-width: 100%;
  margin: 0;
}

.products-list-item-text {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.products-list-item-icon {
  display: block;
  margin: 0 auto;
  padding: 14px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  fill: #d41443;
}

.products-dots {
  fill: #fff;
}

@media screen and (max-width: 767px) {
  .products-container {
    max-width: 320px;
    padding-top: 121px;
    padding-right: 20px;
    padding-bottom: 98px;
    padding-left: 20px;
  }

  .products-subtitle {
    font-size: 18px;
    line-height: 1.167;
  }

  .products-title {
    margin-bottom: 144px;
    font-size: 34px;
    line-height: 1.147;
  }

  .products-list-item {
    padding-top: 161px;
    padding-right: 40px;
    padding-bottom: 41px;
    padding-left: 40px;
  }
  .products-list-item:not(:last-child) {
    margin-bottom: 130px;
  }

  .products-list-item-img {
    top: -113px;
    left: 15px;
  }

  .products-list-item-text {
    margin: 30px 0;
    line-height: 1.52;
  }
}
@media screen and (min-width: 768px) {
  .products-container {
    max-width: 768px;
    padding-top: 122px;
    padding-right: 34px;
    padding-bottom: 112px;
    padding-left: 34px;
  }

  .products-subtitle {
    font-size: 26px;
    line-height: 1.154;
  }

  .products-title {
    margin-bottom: 150px;
    font-size: 48px;
    line-height: 1.146;
  }

  .products-list {
    display: flex;
    justify-content: center;
  }

  .products-list-item {
    padding-top: 152px;
    padding-right: 11px;
    padding-bottom: 40px;
    padding-left: 11px;
    max-width: calc((100% - 40px) / 3);
  }
  .products-list-item:not(:last-child) {
    margin-right: 20px;
  }

  .products-list-item-img {
    top: -104px;
    left: 0;
  }

  .products-list-item-text {
    margin-top: 30px;
    margin-bottom: 40px;
    line-height: 1.786;
  }
}
@media screen and (min-width: 1280px) {
  .products-container {
    max-width: 1045px;
    padding-top: 127px;
    padding-right: 15px;
    padding-bottom: 119px;
    padding-left: 15px;
  }

  .products-subtitle {
    font-size: 30px;
    line-height: 1.133;
    letter-spacing: 0.04em;
  }

  .products-title {
    margin-bottom: 259px;
    font-size: 58px;
    line-height: 1.138;
  }

  .products-list {
    display: flex;
    justify-content: center;
  }

  .products-list-item {
    padding-top: 163px;
    padding-right: 44px;
    padding-bottom: 50px;
    padding-left: 44px;
    max-width: calc((100% - 46px) / 3);
  }
  .products-list-item .products-subtitle {
    margin-bottom: 32px;
    font-size: 30px;
    line-height: 1.133;
  }
  .products-list-item:not(:last-child) {
    margin-right: 23px;
  }

  .products-list-item-img {
    top: -210px;
    left: 3px;
  }

  .products-list-item-text {
    margin-top: 32px;
    margin-bottom: 62px;
    font-size: 16px;
    line-height: 1.75;
  }
}
.how-container {
  margin: 0 auto;
}

.how-section-background {
  background: #fff5f6;
}

.how-title {
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}

.how-subtitle {
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.how-text-bold {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #000000;
}

.how-text {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #907e82;
}

.how-btn-read-more-text {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.285;
  align-items: center;
  text-align: center;
  color: #d41443;
  cursor: pointer;
  outline: none;
  transition: background-color 250ms linear;
}
.how-btn-read-more-text:focus, .how-btn-read-more-text:hover {
  background: #ecebeb;
}

.how-list-item {
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.how-list-text {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #000000;
  display: block;
}

@media screen and (min-width: 320px) {
  .how-container {
    width: 320px;
    padding-top: 125px;
    padding-bottom: 97px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .how-title {
    font-size: 18px;
    line-height: 1.167;
  }

  .how-subtitle {
    font-size: 34px;
    line-height: 1.147;
    margin-bottom: 29px;
  }

  .how-img {
    margin-bottom: 46px;
  }

  .how-text-bold-section {
    display: block;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .how-text-bold {
    font-size: 12px;
    line-height: 1.583;
  }

  .how-text {
    font-size: 12px;
    line-height: 1.583;
  }

  .how-btn-read-more {
    width: 176px;
    height: 44px;
    background: #ffffff;
    border-radius: 22px;
    border: none;
  }

  .how-btn-read-more-text {
    margin-left: 30px;
    margin-bottom: 39px;
  }

  .how-list-item {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 1.139;
  }

  .how-list-text {
    font-size: 12px;
    line-height: 1.667;
  }

  .how-list-text-container:not(:last-child) {
    margin-bottom: 38px;
  }
}
@media screen and (min-width: 768px) {
  .how-container {
    width: 768px;
    padding-top: 125px;
    padding-bottom: 140px;
    padding-left: 36px;
    padding-right: 36px;
  }

  .how-title {
    font-size: 26px;
    line-height: 1.154;
  }

  .how-subtitle {
    font-size: 48px;
    line-height: 1.146;
    margin-bottom: 29px;
  }

  .how-section {
    display: flex;
  }

  .how-img {
    width: 340px;
    height: 340px;
  }

  .how-text-bold-section {
    width: 340px;
    margin-left: 17px;
    margin-right: 0px;
    margin-bottom: 28px;
  }

  .how-text-bold {
    font-size: 14px;
    line-height: 1.786;
  }

  .how-text {
    font-size: 14px;
    line-height: 1.786;
  }

  .how-btn-read-more-text {
    margin-left: 17px;
    margin-bottom: 66px;
  }

  .how-list {
    display: flex;
  }

  .how-list-text-container {
    width: 180px;
  }

  .how-list-text-container:not(:last-child) {
    margin-right: 60px;
  }

  .how-list-item {
    margin-top: 36px;
    margin-bottom: 13px;
    font-size: 48px;
    line-height: 1.146;
  }

  .how-list-text {
    font-size: 14px;
    line-height: 1.714;
  }
}
@media screen and (min-width: 1200px) {
  .how-container {
    width: 1280px;
    padding-top: 125px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .how-title {
    font-size: 30px;
    line-height: 1.133;
  }

  .how-subtitle {
    font-size: 58px;
    line-height: 1.137;
    margin-bottom: 29px;
  }

  .how-img {
    width: 516px;
    height: 433px;
  }

  .how-text-bold-section {
    width: 463px;
    margin-left: 74px;
    margin-right: 0px;
    margin-bottom: 35px;
  }

  .how-btn-read-more-text {
    margin-left: 74px;
    margin-bottom: 146px;
  }

  .how-list-text-container {
    width: 270px;
  }

  .how-list-text-container:not(:last-child) {
    margin-right: 90px;
  }

  .how-list-item {
    margin-top: 36px;
    margin-bottom: 13px;
    font-size: 58px;
    line-height: 1.138;
  }

  .how-list-text {
    font-size: 16px;
    line-height: 1.75;
  }
}
* {
  margin: 0;
  padding: 0;
}

#slideshow-wrap {
  display: block;
  height: 350px;
  min-width: 260px;
  max-width: 926px;
  margin: auto;
  position: relative;
  margin-bottom: 234px;
}

#slideshow-inner {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
}

#slideshow-inner > ul {
  list-style: none;
  height: 100%;
  width: 500%;
  overflow: hidden;
  position: relative;
  left: 0px;
  -webkit-transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

#slideshow-inner > ul > li {
  width: 20%;
  height: 320px;
  float: left;
  position: relative;
}

#slideshow-inner > ul > li > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

#slideshow-wrap input[type=radio] {
  position: absolute;
  left: 50%;
  bottom: 15px;
  z-index: 100;
  visibility: hidden;
}

#slideshow-wrap label:not(.arrows):not(.show-description-label) {
  position: absolute;
  left: 50%;
  bottom: -45px;
  z-index: 100000;
  width: 15px;
  height: 15px;
  background-color: #d9d9d9;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
#slideshow-wrap label:not(.arrows):not(.show-description-label):hover {
  background-color: transparent;
  background-image: url(/icon-home.13c06842.svg);
  background-repeat: no-repeat;
}

#slideshow-wrap label:not(.arrows):active {
  bottom: -46px;
}

#slideshow-wrap input[type=radio]#button-1:checked ~ label[for=button-1] {
  background-color: transparent;
  background-image: url(/icon-home.13c06842.svg);
  background-repeat: no-repeat;
}

#slideshow-wrap input[type=radio]#button-2:checked ~ label[for=button-2] {
  background-color: transparent;
  background-image: url(/icon-home.13c06842.svg);
  background-repeat: no-repeat;
}

#slideshow-wrap input[type=radio]#button-3:checked ~ label[for=button-3] {
  background-color: transparent;
  background-image: url(/icon-home.13c06842.svg);
  background-repeat: no-repeat;
}

#slideshow-wrap label[for=button-1] {
  margin-left: -35px;
}

#slideshow-wrap label[for=button-2] {
  margin-left: 35px;
}

#slideshow-wrap input[type=radio]#button-1:checked ~ #slideshow-inner > ul {
  left: 0;
}

#slideshow-wrap input[type=radio]#button-2:checked ~ #slideshow-inner > ul {
  left: -200%;
}

#slideshow-wrap input[type=radio]#button-3:checked ~ #slideshow-inner > ul {
  left: -100%;
}

.description {
  top: 0;
  left: 0;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
  z-index: 1000;
}

.description input {
  visibility: hidden;
}

.description label {
  font-family: "DM Sans", sans-serif;
  background-color: #fafafa;
  position: relative;
  left: -17px;
  top: 0px;
  width: 40px;
  max-width: 100%;
  height: 27px;
  display: inline-block;
  text-align: center;
  padding-top: 7px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  z-index: 5;
  color: #141414;
}

#slideshow-inner > ul > li:hover .description label {
  opacity: 1;
}

.description input[type=checkbox]:checked ~ label {
  opacity: 1;
}

.description .description-text {
  display: block;
  background-color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  top: 50%;
  z-index: 4;
  opacity: 1;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  color: #141414;
}

.description-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  width: 926px;
  max-width: 100%;
}
.description-text-container::after {
  position: absolute;
  content: "";
  border: 1px solid #e1e1e1;
}

.description-text p {
  background-image: url(/symbol-cov.379268b8.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  width: 822px;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 138px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.04em;
  color: #000000;
  text-decoration: underline solid #e1e1e1;
}

.description-text span {
  display: inline-block;
  width: 20px;
  max-width: 100%;
  height: 20px;
  color: #c7133e;
}

.description-text h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.85;
  text-align: center;
  color: #000000;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.icon-dots {
  position: absolute;
  left: 48%;
  margin-top: 15px;
  width: 20px;
  height: 20px;
  fill: #c7133e;
  z-index: 2000;
}

.description input[type=checkbox]:checked ~ .description-text {
  opacity: 1;
}

.location {
  background-color: #fff5f6;
}

.location-container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 320px;
  padding: 1380px 15px 113px 15px;
}
@media screen and (min-width: 768px) {
  .location-container {
    max-width: 768px;
    padding: 520px 15px 158px 15px;
  }
}
@media screen and (min-width: 1280px) {
  .location-container {
    max-width: 1280px;
    padding: 480px 15px 165px 15px;
  }
}

.location-img {
  display: none;
}
@media screen and (min-width: 1280px) {
  .location-img {
    position: absolute;
    top: 0;
    display: block;
    max-width: 1045px;
  }
}

.location-img {
  position: absolute;
}

.location-list {
  position: absolute;
  top: -90px;
  left: 0;
  right: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .location-list {
    display: flex;
    justify-content: center;
    top: -50px;
    padding: 0px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .location-list {
    align-items: center;
    padding: 0px 115px;
    top: -100px;
  }
}

.location-list-item {
  margin-left: auto;
  margin-right: auto;
  max-width: 220px;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 43px 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .location-list-item {
    padding: 50px 32px;
    width: calc((100% - 3 * 10px) / 3);
    margin: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .location-list-item {
    padding: 50px 43px 60px 43px;
    max-width: 330px;
    width: calc((100% - 3 * 15px) / 3);
    margin: 15px;
  }
}

.location-list-item-text,
.location-list-item-text2 {
  color: #ffffff;
  background: #f0d1a5;
  max-width: 73px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.04em;
  border-radius: 6px;
}

.location-list-item-text2 {
  max-width: 138px;
  background: #c2e297;
}

.location-town {
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
}

.location-text {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #907e82;
  margin-bottom: 64px;
}
.location-text::after {
  position: absolute;
  top: 160%;
  display: block;
  background-color: #e1e1e1;
  width: 100%;
  height: 1px;
  content: "";
}
@media screen and (min-width: 250px) {
  .location-text::after {
    top: 140%;
  }
}
@media screen and (min-width: 305px) {
  .location-text::after {
    top: 160%;
  }
}
@media screen and (min-width: 768px) {
  .location-text::after {
    top: 140%;
  }
}
@media screen and (min-width: 1280px) {
  .location-text::after {
    top: 170%;
  }
}

.location-days {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
}

.location-times {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #ffa5ba;
}

.times-after {
  position: relative;
  margin-bottom: 64px;
}
.times-after::after {
  position: absolute;
  top: 250%;
  display: block;
  background-color: #e1e1e1;
  width: 100%;
  height: 1px;
  content: "";
}

.location-list-item-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #907e82;
}

.location-button-list {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .location-button-list {
    display: flex;
    justify-content: center;
  }
}

.location-button-red,
.location-button-white {
  outline: none;
  border-style: none;
  width: 161px;
  padding: 10px 0px;
  background: #d41342;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  border-radius: 22px;
  color: #ffffff;
  margin-bottom: 10px;
  cursor: pointer;
}

.location-button-white {
  background: #ffffff;
  color: #d41342;
  margin-bottom: 0;
  transition: background-color 250ms linear;
}
@media screen and (min-width: 768px) {
  .location-button-white {
    margin-left: 15px;
  }
}
.location-button-white:hover, .location-button-white:focus {
  background-color: #ecebeb;
}

@media screen and (min-width: 768px) {
  .location-button-red {
    margin-bottom: 0;
  }
}

.list {
  list-style-type: none;
}

.footer {
  background-color: #fff5f6;
}

.footer-container {
  display: flex;
}

.footer-section {
  margin: auto;
}

.motto-text {
  padding-left: 20px;
  padding-right: 66px;
  margin-bottom: 43px;
}

.motto-text-1 {
  font-family: "Titan One", cursive;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffa5ba;
}

.motto-text-2 {
  font-family: "Titan One", cursive;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.social-media {
  padding-top: 40px;
}

.social-media-list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 46px;
}

.social-media-list_item-link {
  display: block;
}

.social-media-list_item:not(:last-child) {
  padding-right: 24px;
}

.social-media-list_item-svg {
  transition: fill 250ms linear;
  fill: #fea5bb;
}

.social-media-list_item-svg:hover,
.social-media-list_item-svg:focus {
  fill: #d41342;
}

.contacts-text {
  margin-bottom: 43px;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-align: right;
  color: #000000;
}

.tel {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: #d41443;
  text-decoration: none;
}

.copyright {
  padding-top: 22px;
  height: 42px;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #907e82;
  box-sizing: content-box;
  border-top: 1px solid #e1e1e1;
}

.copyright:before {
  content: "©";
}

@media screen and (min-width: 768px) {
  .footer-container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
  }

  .contacts-block-section {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 90px;
  }

  .motto-text {
    width: 340px;
    padding: 0;
    margin-bottom: 0;
  }

  .motto-text-1 {
    font-size: 26px;
    line-height: 1.15px;
    letter-spacing: 0.04em;
  }

  .motto-text-2 {
    font-size: 48px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }

  .social-media {
    padding-top: 0;
  }

  .social-media-list {
    justify-content: flex-end;
  }

  .contacts-text {
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.02em;
    padding-left: 0px;
  }

  .tel {
    font-size: 14px;
    line-height: 22px;
    text-align: right;
  }
}
@media screen and (min-width: 1280px) {
  .container-for-all {
    max-width: 1045px;
  }

  .motto-text-2 {
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.06em;
    width: 474px;
  }

  .social-media-list {
    padding-right: 0;
  }

  .contacts-text {
    width: 319px;
    height: 30px;
    left: 845px;
    top: 5007px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;
    padding-right: 0;
  }

  .tel {
    font-size: 16px;
  }
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */